.idea
bin
include
lib
api/__pycache__
database/__pycache__
prediction/__pycache__
venv
test-reports/**

__pycache__
*.log
*.pyc
*.swp
credentials.json
lib64
pyvenv.cfg
share
pip-selfcheck.json
test/cache